/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13 May 2021, 5:44:17 pm
    Author     : sam
*/
* {
  box-sizing: border-box;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: rgba(0, 0, 128, 0.5);
}
.hidden {
  display: none;
}
/* system messages */
body .message {
  position: fixed;
  width: 100%;
  line-height: 2rem;
  padding: 2rem;
  font-size: 1.6rem;
  text-align: center;
  left: 0;
  bottom: 0;
}
body .message.hidden {
  display: none;
}
body .message.success {
  background-color: rgba(64, 128, 64, 0.75);
  color: white;
}
body .message.error {
  background-color: rgba(128, 64, 64, 0.75);
  color: white;
}
/* customize login page */
body.public.login {
  background-image: url("../asset/login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}
body.public.login .form {
  width: 80%;
  margin: auto;
  max-width: 40rem;
  margin-top: 10vh;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
}
body.public.login .form .logo {
  width: 100%;
  height: 3rem;
  background-image: url("../asset/logo-desktop.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
body.public.login .form fieldset {
  width: 100%;
  margin-top: 2rem;
}
body.public.login .form fieldset > div {
  width: 100%;
  display: inline-block;
}
body.public.login .form fieldset > div label {
  width: 10rem;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 3.8rem;
}
body.public.login .form fieldset > div input {
  width: calc(100% - 10rem);
  float: right;
  margin: 0;
}
body.public.login .form .submit {
  display: inline-block;
  width: 100%;
}
body.public.login .form .submit input {
  display: inline-block;
  float: right;
}
/* standard public page - menu and header are hidden */
body.public nav.sidebar {
  display: none;
}
body.public nav.header {
  display: none;
}
body.public main.content {
  display: block;
  float: left;
  width: 100%;
}
/* sandard private page */
body.private nav.sidebar {
  display: block;
  float: left;
  width: 6rem;
  min-height: 100vh;
  background-color: rgba(13, 122, 192);
}
body.private nav.sidebar .header {
  width: 100%;
  height: 6rem;
  background-image: none;
  background-size: 40%;
  background-position: 2rem center;
  background-repeat: no-repeat;
}
body.private nav.sidebar .header .menu-toggle {
  display: block;
  float: right;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}
body.private nav.sidebar ul.main-menu {
  list-style-type: none;
  margin-top: 1.6rem;
}
body.private nav.sidebar ul.main-menu li {
  display: block;
  float: left;
  color: #eeeeee;
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  font-size: 2.4rem;
  margin: 0;
}
body.private nav.sidebar ul.main-menu li .icon {
  height: 6rem;
  line-height: 6rem;
  width: 6rem;
  text-align: center;
  font-size: 3rem;
  float: left;
}
body.private nav.sidebar ul.main-menu li .label {
  display: none;
}
body.private nav.sidebar ul.main-menu li.selected {
  color: #000000;
}
body.private nav.header {
  display: block;
  width: 100%;
  height: 6rem;
}
body.private main.content {
  display: block;
  float: right;
  min-height: 100vh;
  width: calc(100% - 6rem);
  /* form messages */
  /* pagination components */
}
body.private main.content nav.header {
  width: 100%;
  display: block;
  float: right;
}
body.private main.content nav.header .top-nav-links {
  width: auto;
  display: block;
  float: right;
}
body.private main.content nav.header .top-nav-links .profile-info {
  height: 6rem;
  float: left;
  line-height: 6rem;
}
body.private main.content nav.header .top-nav-links .icon {
  float: left;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 3rem;
  text-align: center;
}
body.private main.content article {
  width: 100%;
  float: left;
  /* Related listing (sub table) */
  /* listing page icons */
  /* data table */
  /* standard form */
  /* dashboard, charts */
}
body.private main.content article .page-header h3 {
  position: absolute;
  top: -6rem;
  width: auto;
  max-width: 50%;
  line-height: 6rem;
}
body.private main.content article .page-header .actionbar {
  height: 4rem;
  width: auto;
  display: block;
  float: right;
}
body.private main.content article .page-header .actionbar .action {
  height: 4rem;
  line-height: 4rem;
  width: 4rem;
  display: block;
  float: left;
  font-size: 2.8rem;
  text-align: center;
  color: #FF8100;
}
body.private main.content article .page-header .actionbar .action:hover {
  font-size: 3.2rem;
}
body.private main.content article .related h4 {
  padding: 1rem;
}
body.private main.content article table .action {
  height: 2.8rem;
  line-height: 2.8rem;
  width: 2.8rem;
  display: block;
  float: left;
  font-size: 2rem;
  text-align: center;
  color: #FF8100;
}
body.private main.content article table .action:hover {
  font-size: 2.4rem;
}
body.private main.content article .dataTables_length {
  display: none;
}
body.private main.content article .dataTables_filter {
  display: block;
  float: left;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body.private main.content article .dataTables_filter label {
  margin: 0;
  padding: 0;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
}
body.private main.content article .dataTables_filter label input[type=search] {
  width: 20rem;
  float: right;
  margin: 0;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  vertical-align: middle;
  margin-left: 2rem;
}
body.private main.content article .paginate_button {
  background-image: none !important;
}
body.private main.content article .paginate_button:hover,
body.private main.content article .paginate_button.current:hover {
  background-color: rgba(255, 129, 0, 0.95);
}
body.private main.content article .paginate_button.current {
  background-color: rgba(255, 129, 0, 0.5);
}
body.private main.content article .form form {
  width: 100%;
  padding: 2rem;
  float: left;
}
body.private main.content article .form form fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
body.private main.content article .form form fieldset .row {
  width: 100%;
  padding: 0;
  margin: 0;
  float: left;
  padding-bottom: 1rem;
}
body.private main.content article .form form fieldset .row .input {
  display: block;
  float: left;
  width: 25%;
  padding: 0.5rem;
}
body.private main.content article .form form fieldset .row .input label {
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  font-size: 1.2rem;
}
body.private main.content article .form form fieldset .row .input input,
body.private main.content article .form form fieldset .row .input select {
  width: 100%;
  line-height: 2rem;
  height: 3rem;
  padding: 0 1rem;
  margin: 0;
  font-size: 1.2rem;
}
body.private main.content article .form form fieldset .row .input input[readonly] {
  border: none !important;
}
body.private main.content article .form form fieldset .row .input .error-message {
  line-height: 2.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: red;
}
body.private main.content article .chart-title {
  width: 100%;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
}
body.private main.content article .chart {
  width: 100%;
  height: 80vh;
  padding-bottom: 10vh;
  margin-bottom: 10vh;
  border-bottom: 1px solid #999999;
}
body.private main.content article.container {
  max-width: 100vw;
  padding-bottom: 10vh;
}
body.private main.content .message {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.8rem;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  color: #ffffff;
  font-weight: 700;
}
body.private main.content .message.hidden {
  display: none;
}
body.private main.content .message.error {
  background-color: rgba(255, 64, 64, 0.9);
}
body.private main.content .paginator {
  display: none;
  /* using datatable */
  width: 100%;
  margin-top: 1rem;
}
body.private main.content .paginator ul.pagination {
  list-style-type: none;
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 1rem;
}
body.private main.content .paginator ul.pagination li {
  list-style-type: none;
  width: auto;
  display: block;
  float: left;
  height: 4rem;
  line-height: 4rem;
  min-width: 4rem;
  font-size: 2rem;
  text-align: center;
  padding: 0 1rem;
  margin: 0 0.5rem;
  border: solid 1px #cccccc;
}
body.private main.content .paginator ul.pagination li a {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  color: #000000;
}
body.private main.content .paginator ul.pagination li:hover {
  background-color: #cccccc;
}
body.private main.content .paginator ul.pagination li.active {
  background-color: #FF8100;
}
body.private main.content .paginator ul.pagination li.active a {
  color: #ffffff;
}
body.private main.content .paginator ul.pagination li.disabled {
  display: none;
}
/* registration page */
body.private.visitorlogs.registration nav.sidebar {
  display: none;
}
body.private.visitorlogs.registration main.content {
  width: 100%;
  float: left;
}
body.private.visitorlogs.registration main.content .page-header a.action {
  margin-left: 1rem;
}
body.private.visitorlogs.registration main.content div.checkin {
  display: none;
  width: 100%;
  float: left;
}
body.private.visitorlogs.registration main.content div.checkin .block-container {
  width: 100%;
  float: left;
  padding: 1rem;
}
body.private.visitorlogs.registration main.content div.checkin .block-container .title {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  float: left;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
body.private.visitorlogs.registration main.content div.checkin .block-container .block-tag {
  height: 5rem;
  line-height: 5rem;
  min-width: 5rem;
  padding: 0 2rem;
  font-size: 3rem;
  float: left;
  margin: 0.5rem;
  border: 2px solid #d33c43;
}
body.private.visitorlogs.registration main.content div.checkin .block-container .block-tag.selected {
  background-color: #d33c43;
  color: #ffffff;
}
body.private.visitorlogs.registration main.content div.checkin .unit-container {
  width: 100%;
  float: left;
  padding: 1rem;
}
body.private.visitorlogs.registration main.content div.checkin .unit-container input {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  float: right;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
body.private.visitorlogs.registration main.content div.checkin .unit-container .unit-tag {
  height: 5rem;
  line-height: 5rem;
  min-width: 5rem;
  padding: 0 2rem;
  font-size: 3rem;
  float: left;
  margin: 0.5rem;
  border: 2px solid #d33c43;
}
body.private.visitorlogs.registration main.content div.checkin .unit-container .unit-tag.selected {
  background-color: #d33c43;
  color: #ffffff;
}
body.private.visitorlogs.registration main.content div.checkin .details {
  width: 100%;
  float: left;
  padding: 1rem;
  display: none;
}
body.private.visitorlogs.registration main.content div.checkin .details .data-row {
  width: 100%;
  float: left;
  margin-bottom: 0.5rem;
}
body.private.visitorlogs.registration main.content div.checkin .details .data-row .label {
  display: block;
  float: left;
  width: 40%;
  padding: 1rem;
  line-height: 3rem;
  font-size: 1.6rem;
  font-weight: 700;
}
body.private.visitorlogs.registration main.content div.checkin .details .data-row .data {
  display: block;
  float: right;
  width: 60%;
  padding: 1rem;
  line-height: 3rem;
  font-size: 1.6rem;
}
body.private.visitorlogs.registration main.content div.checkout {
  display: none;
}
body.private.visitorlogs.registration main.content div.checkout .checkinslist {
  width: 48%;
  min-width: 20rem;
  display: block;
  float: left;
  margin: 1%;
  border: 1px solid #999999;
}
body.private.visitorlogs.registration main.content div.checkout .checkinslist > div {
  width: 100%;
  float: left;
  padding: 1rem;
}
body.private.visitorlogs.registration main.content div.checkout .checkinslist > div .label.icon {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: left;
  display: block;
  float: left;
  font-sizr: 2rem;
}
body.private.visitorlogs.registration main.content div.checkout .checkinslist > div .data {
  width: calc(100% - 3rem);
  height: 3rem;
  line-height: 3rem;
  overflow: hidden;
  display: block;
  float: right;
  font-sizr: 2rem;
}
/* add visitorlog page */
body.private.visitorlogs.add main.content .page-header .data-row {
  display: inline;
}
body.private.visitorlogs.add main.content div.checkin {
  width: 100%;
  float: left;
}
body.private.visitorlogs.add main.content div.checkin .block-container {
  width: 100%;
  float: left;
  padding: 1rem;
}
body.private.visitorlogs.add main.content div.checkin .block-container .title {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  float: left;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
body.private.visitorlogs.add main.content div.checkin .block-container .block-tag {
  height: 5rem;
  line-height: 5rem;
  min-width: 5rem;
  padding: 0 2rem;
  font-size: 3rem;
  float: left;
  margin: 0.5rem;
  border: 2px solid #d33c43;
}
body.private.visitorlogs.add main.content div.checkin .block-container .block-tag.selected {
  background-color: #d33c43;
  color: #ffffff;
}
body.private.visitorlogs.add main.content div.checkin .unit-container {
  width: 100%;
  float: left;
  padding: 1rem;
  display: none;
}
body.private.visitorlogs.add main.content div.checkin .unit-container input {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  float: right;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
body.private.visitorlogs.add main.content div.checkin .unit-container .unit-tag {
  height: 5rem;
  line-height: 5rem;
  min-width: 5rem;
  padding: 0 2rem;
  font-size: 3rem;
  float: left;
  margin: 0.5rem;
  border: 2px solid #d33c43;
}
body.private.visitorlogs.add main.content div.checkin .unit-container .unit-tag.selected {
  background-color: #d33c43;
  color: #ffffff;
}
body.private.visitorlogs.add main.content div.checkin .details {
  width: 100%;
  float: left;
  padding: 1rem;
  display: none;
}
/* menu toggle */
body.private.show-menu nav.sidebar {
  display: block;
  float: left;
  width: 24rem;
  min-height: 100vh;
  background-color: rgba(13, 122, 192);
}
body.private.show-menu nav.sidebar .header {
  width: 100%;
  height: 6rem;
  background-image: url("../asset/logo-desktop-white.png");
  background-size: 40%;
  background-position: 2rem center;
  background-repeat: no-repeat;
}
body.private.show-menu nav.sidebar .header .menu-toggle {
  display: block;
  float: right;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
}
body.private.show-menu nav.sidebar ul.main-menu {
  list-style-type: none;
  margin-top: 1.6rem;
}
body.private.show-menu nav.sidebar ul.main-menu li {
  display: block;
  float: left;
  color: #eeeeee;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  margin: 0;
}
body.private.show-menu nav.sidebar ul.main-menu li .icon {
  height: 4rem;
  line-height: 4rem;
  width: 4rem;
  text-align: center;
  font-size: 2rem;
  float: left;
}
body.private.show-menu nav.sidebar ul.main-menu li .label {
  display: block;
  height: 4rem;
  line-height: 4rem;
  width: calc(100% - 4rem);
  text-align: left;
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}
body.private.show-menu nav.sidebar ul.main-menu li.selected {
  color: #000000;
}
body.private.show-menu main.content {
  display: block;
  float: right;
  min-height: 100vh;
  width: calc(100% - 24rem);
}
/*# sourceMappingURL=tribe.css.map */